.control {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgba(46, 46, 46, 0.413) ;
    border-radius: 3px;
    gap: 5px;
    border-top: 1px solid rgb(54, 54, 54);

    .showCase{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: large;
      font-weight: medium;

      .showCaseText{
        margin-bottom: 20px;
      } 
    }

    .input{
      input{
        background-color: transparent;
        border: none;
        outline: none;
        height: 30px;
        width: 100%;
        font-size: 18px;
        text-align: center;
        color: white;
      }
      border: 2px solid white;
      border-radius: 20px;
    }
  }
  
  

  

