.control {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:rgba(147, 147, 147, 0.397) ;
    border-radius: 10px;
    gap: 5px;

    .showCase{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: large;
      font-weight: bold;

      .showCaseText{
        margin-bottom: 20px;
      } 
    }

    .input{
      input{
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
  
  

  

