.show {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
  background-color:rgb(66, 65, 65) ;
  border-radius: 3px;
}

.text {
  font-size: 40px;
  color: rgb(210, 202, 202);
  text-align: center;
  display: flex;
  gap: 30px;
  flex-direction: column;
}